/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* Nanum */
/* @import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700");

body {
  background-color: #f2ecdc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
label,
button,
input {
  font-family: "Poppins", sans-serif !important;
}

.font-poppins {
  font-family: "Poppins", sans-serif !important;
}

a {
  font-family: "Cousine", monospace;
}

a:hover {
  font-family: "Cousine", monospace;
}

.bg {
  background-color: #f2ecdc;
}

.font-cousine {
  font-family: "Cousine", monospace;
}

.btn-bg {
  background-color: #92c6d9;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #293132;
}

@keyframes sway {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(-18deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

.animation-swing {
  animation: sway 2.4s infinite;
  animation-timing-function: ease-in-out;
}
