body {
  background-color: #f2ecdc;
  scroll-behavior: smooth;
}

.h1-font {
  font-family: "moonet";
}

.bg {
  background-color: #f2ecdc;
}

.btn-bg {
  background-color: #92c6d9;
}

.text-color {
  color: #50bae0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #293132;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.195);
}

@keyframes sway {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(-18deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

.animation-swing {
  animation: sway 2.4s infinite;
  animation-timing-function: ease-in-out;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

/* .h1 {
  font-size: 5em !important;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 1.5px #556064;
  text-shadow: 0 0 0 #09ecf8;
  transition: all 250ms;
  font-family: "moonet";
}

.h1:hover {
  text-shadow: 4px 4px 0 #fff;
  transform: translate(-2px, -2px);
} */
